# LLM
OPENAI_BASE_URL=http://localhost:30000/v1
OPENAI_API_KEY=
OPENAI_MODEL=

# Ingestion
SUPERMEMORY_INGEST_CONCURRENCY=8
SUPERMEMORY_EMBEDDING_RAM_LIMIT=6gb
SUPERMEMORY_LOCAL_EMBEDDING_MAX_BATCHES_BEFORE_RECYCLE=200
